.skills {
    height: auto;
    width: 100%;
    min-height: 100vh;
}

.page-title {
    font-size: 50px;
    font-weight: 200;
    text-align: center;
}

.skills-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0, 0, 0, 0;
}

.column {
    display: inline-block;
    margin: 8% 0px 0px 15px;
    width: 33%;
}

.column-title {
    text-align: center;
    font-size: 30px;
}

.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-weight: 200;
    line-height: 35px;
}

.progressbar {
    width: 175px;
    margin-right: 15px;
    color: #ac0;
    border-color: saddlebrown;
}

.progress-bar {
    background-color: #999;
}

@media screen and (max-width: 1091px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .column {
        margin-top: 20px;
        width: 90%;
    }
}